USE [master]
GO
/****** Object:  Database [QLSach]    Script Date: 2/24/2024 2:06:05 PM ******/
CREATE DATABASE [QLSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THANHLAM\MSSQL\DATA\QLSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.THANHLAM\MSSQL\DATA\QLSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSach]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[NgayGiaoDich] [datetime] NULL,
	[MaTaiKhoan] [nvarchar](50) NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaTaiKhoan] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [nchar](10) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nchar](10) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[NamXuatBan] [int] NULL,
	[SoTrang] [int] NULL,
	[MaNXB] [nchar](10) NULL,
	[DonGia] [money] NOT NULL,
	[SoLuongCon] [int] NULL,
	[MaTG] [nchar](10) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachTrongGioHang]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachTrongGioHang](
	[MaTaiKhoan] [nvarchar](50) NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_SachTrongGioHang] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [nchar](10) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/24/2024 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayGiaoDich], [MaTaiKhoan], [MaSach], [SoLuong], [ThanhTien]) VALUES (N'HD1       ', CAST(N'2024-02-24T00:00:00.000' AS DateTime), N'1234', N'S01       ', 2, 40000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayGiaoDich], [MaTaiKhoan], [MaSach], [SoLuong], [ThanhTien]) VALUES (N'HD1       ', CAST(N'2024-02-24T00:00:00.000' AS DateTime), N'1234', N'S02       ', 3, 120000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayGiaoDich], [MaTaiKhoan], [MaSach], [SoLuong], [ThanhTien]) VALUES (N'HD2       ', CAST(N'2024-02-24T00:00:00.000' AS DateTime), N'1234', N'S01       ', 22, 440000.0000)
GO
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT]) VALUES (N'NXB01     ', N'Kim Đồng', N'Hà Nội', N'0123456789')
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [NamXuatBan], [SoTrang], [MaNXB], [DonGia], [SoLuongCon], [MaTG]) VALUES (N'S01       ', N'Đẹp trời', 2023, 100, N'NXB01     ', 20000.0000, 86, N'TG01      ')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [NamXuatBan], [SoTrang], [MaNXB], [DonGia], [SoLuongCon], [MaTG]) VALUES (N'S02       ', N'Trời sao', 2024, 100, N'NXB01     ', 40000.0000, 200, N'TG04      ')
GO
INSERT [dbo].[SachTrongGioHang] ([MaTaiKhoan], [MaSach], [DonGia], [SoLuong], [ThanhTien]) VALUES (N'1234', N'S01       ', 20000.0000, 1, 20000.0000)
GO
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (N'TG01      ', N'Lâm')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (N'TG04      ', N'Trường')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (N'TG05      ', N'Nguyên')
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MatKhau], [VaiTro]) VALUES (N'123', N'123', N'Admin')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MatKhau], [VaiTro]) VALUES (N'1234', N'1234', N'User')
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
USE [master]
GO
